.CSE,.ECE,.IT{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1rem;
}
.cseMain{
    border: 1px solid black;
    margin: 2em 20em 1em 20em;
    padding: 0.2em 4.5em;
    background-color: #E0FFFF;
}
.ECE .eceMain{
    border: 1px solid black;
    margin: 2em 20em;
    padding: 0.2em 0em;
    background-color: #FAFAD2;
}
.IT .itMain{
    border: 1px solid black;
    margin: 2em 20em;
    padding: 0.2em 0em;
    background-color: #808080;
}
.sem1Maths,.sem1Elet,.sem1Chem,.sem1Linux,.sem1Biotech{
    border: 1px solid black;
    padding: 0.5em 0.5em;
    background-color: #808080;
}
.CSE{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
    
}
.semesters{
    padding: 0em 0em 0.5em 0em;
    width: 15em;
    background-color: #1B4242;
    margin: 1em 1em;
    color: white;
}
.semesters img{
    width: 15em;
    height: 19em;
}
.semData p{
    color: white;
}
.semester1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 2em;
}
